<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<properties>
		<property name="name">ag1</property>
		<property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p |
			%-10.10t | %-20.20C:%-5.5L | %msg%n</property>
	</properties>
	<Appenders>
		<!-- <Console name="Console" target="SYSTEM_OUT"> <PatternLayout pattern="%d{HH:mm:ss.SSS} 
			[%t] %-5level %logger{36} - %msg%n" /> </Console> -->
		<RollingFile name="RollingFIle"
			fileName="E:\repo/logs/ag1WorkItemUpdate/${name}.log" immediateFlush="true"
			append="true"
			filePattern="E:\repo/logs/ag1WorkItemUpdate/$${date:yyyy-MM}/${name}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout
				pattern="%highlight{%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=Cyan, DEBUG=green, TRACE=blue}" />
			<Policies>
				<!--<filters> <ThresholdFilter level="trace" onMatch="DENY" onMismatch="NEUTRAL"/> 
					</filters> -->
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="500 mb" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug"><!-- logs everyday all will pull everything no matter 
				what was filter -->
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="RollingFIle" />
		</Root>
		<logger name="com.ec.polarion.agco.Agco"
			level="debug">
			<AppenderRef ref="RollingFIle" />
		</logger>
	</Loggers>
</Configuration>